@page
@model web_api.Pages.ProductCategory.deleteModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>delete</title>
</head>

<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap.min.css" />
</environment>

<body style="margin: 0 auto; width:95%">

<div>
    <br/>
</div>
<div style="margin:0 auto; width:80%">

<h5>Are you sure you want to delete this catetory : @Html.DisplayFor(model => model.ProductCategory.CategoryName) ?</h5>

 <a style="float:right; margin-right:30px; top:50px;" asp-page="./Index">Category List</a>

    <h4>Product Category Details</h4>
    <hr />
    <dl class="row">
       <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProductCategory.CategoryId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ProductCategory.CategoryId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProductCategory.CategoryName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ProductCategory.CategoryName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProductCategory.CategoryDescription)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ProductCategory.CategoryDescription)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ProductCategory.CategoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
       
    </form>
</div>
</body>
</html>
