@page
@model web_api.Pages.ProductCategory.detailsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>details</title>
</head>
<body>

<div>
    <h4>ProductCategory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategory.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCategory.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategory.CategoryDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCategory.CategoryDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductCategory.CategoryId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
