@page
@model web_api.Pages.ProductCategory.detailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>details</title>
</head>

<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap.min.css" />
</environment>

<body style="margin: 0 auto; width:95%">
<div>
    <br/>
</div>
<div style="margin:0 auto; width:90%">

    <p style="float:right; top:-50px; margin-right:30px;">
            <a asp-page="./Index">Category List</a>
    </p>
    <h5>Product Category Details</h5>

    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProductCategory.CategoryId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ProductCategory.CategoryId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProductCategory.CategoryName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ProductCategory.CategoryName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProductCategory.CategoryDescription)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ProductCategory.CategoryDescription)
        </dd>
    </dl>

    <div>
        <br/>
    </div>
  <hr />
  <p style="float:right; margin-right:30px;">
      @Html.ActionLink("Add Product", "add", "Product", new { id = HttpContext.Request.Query["id"] }, new { @class = "btn btn-info", data_val="abc" })
  </p>
        <h5> @Html.DisplayFor(model => model.ProductCategory.CategoryName) Product List </h5>
    <hr />
</div>

</body>
</html>
