@page
@model web_api.Pages.ProductCategory.indexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>

<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap.min.css" />
</environment>

<style type="text/css">
    tr:nth-child(even) 
    {
        background-color: #f2f2f2;
    }
</style>

<body style="margin: 0 auto; width:90%">

<p>
    <br/>
</p>
<div style="margin: 0 auto; width:90%">
    
<p>
    <a asp-page="/ProductCategory/add"> New Category</a>
</p>
<div>
 @if (TempData["custdetails"] != null) {

 <p>@TempData["custdetails"]</p>

 }
</div>
<table class="table table-stripped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory[0].CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory[0].CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory[0].CategoryDescription)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductCategory) {
        <tr>
           <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDescription)
            </td>
            <td>
                <a asp-page="./Update" asp-route-id="@item.CategoryId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CategoryId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</body>
</html>
